@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-variable {
  font-family: var(--font-archivo-black), sans-serif;
  font-weight: 400;
}

.scroll-parent {
  position: relative;
  /* width: 100vw; */
  height: 240px;
  overflow-x: hidden; /* Ensure that the overflow is hidden */
  overflow-y: hidden;
  /* animation-play-state: running; */
}

.scroll-element {
  max-width: 100%; /* Use 100% to fit the parent */
  height: 100%;
  position: absolute;
  top: 0;
  animation-play-state: running;
}

.scroll-parent:hover .scroll-element {
  animation-play-state: paused; /* Pause the animation on hover */
}

.primary {
  animation: primary 7s linear infinite; /* Increased duration for smoother transition*/
}

.secondary {
  animation: secondary 7s linear infinite; /* Increased duration for smoother transition */
}

@keyframes primary {
  0% {
    left: 0%;
  }
  100% {
    left: -108%; /*Ensure this moves out of view*/
  }
}

@keyframes secondary {
  0% {
    left: 108%; /* Starts just outside of view on the right */
  }
  100% {
    left: 0%; /* Moves into view */
  }
}
